<!doctype html>
<html>
    <a href='http://localhost:5000'>All users</a>
    <br>
    <a href='http://localhost:5000/blog'>All Blogs</a>
    <br>
    <a href='http://localhost:5000/newpost'>Add a Blog Entry</a>
    <br>
    <a href='http://localhost:5000/login'>Login!</a>
    <br>
    <a href='http://localhost:5000/signup'>Signup!</a>
    <div>
        <a href='/logout'>Log out</a>
    </div>

    <head>
        <title>{{title}}</title>
    </head>
<body>
    {% with messages = get_flashed_messages() %}
        <ul>
            {% for message in messages %}
                <li>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>